# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: PR Verification

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # Enable manually starting a build

jobs:
  build:
    strategy:
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]
        dotnet-version: [ net472, net8.0, net9.0]
        node-version: [ 18.x, 22.x ]
        configuration: [ Release ]
        exclude:
          # Exclude Node 18.x on .NET < 9, to thin the matrix.
          - dotnet-version: net8.0
            node-version: 18.x
          - dotnet-version: net472
            node-version: 18.x
          # Exclude .NET 4.x on non-Windows OS.
          - os: macos-latest
            dotnet-version: net472
          - os: ubuntu-latest
            dotnet-version: net472

      fail-fast: false  # Don't cancel other jobs when one job fails

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Deep clone is required for versioning on git commit height

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build packages
      id: pack
      run: dotnet pack --configuration ${{ matrix.configuration }}

    # Uncomment to enable an SSH session for debugging
    # - name: Setup tmate session
    #  uses: mxschmitt/action-tmate@v3
    #  with:
    #      limit-access-to-actor: true

    - name: Upload build artifacts
      if: matrix.dotnet-version == 'net9.0' && matrix.node-version == '22.x'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-${{ matrix.configuration }}-packages
        path: |
          out/pkg/*.*nupkg
          out/pkg/*.tgz

    - name: Test
      if: steps.pack.conclusion == 'success' && !cancelled()
      env:
        TRACE_NODE_API_HOST: 1
      run: >
        dotnet test -f ${{ matrix.dotnet-version }}
        --configuration ${{ matrix.configuration }}
        --property:ParallelizeTestCollections=false
        --logger trx
        --results-directory "out/test/${{matrix.dotnet-version}}-node${{matrix.node-version}}-${{matrix.configuration}}"
      continue-on-error: true

    - name: Upload test logs
      uses: actions/upload-artifact@v4
      with:
        name: test-logs-${{ matrix.os }}-${{matrix.dotnet-version}}-node${{matrix.node-version}}-${{matrix.configuration}}
        path: |
          out/obj/${{ matrix.configuration }}/**/*.log
          out/obj/${{ matrix.configuration }}/**/*.rsp
          out/test/**/*.trx

    - name: Check formatting
      if: ${{ !cancelled() }} # Run this step even when there are build failures but not when cancelled
      run: dotnet format --no-restore --severity info --verbosity detailed --verify-no-changes
